html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

.section {
  @apply min-h-[100vh]  md:min-h-[75vh];
}

::selection {
  background-color: rgba(210, 210, 210, 0.5) !important;
}

.dark ::selection {
  background-color: rgba(87, 87, 87, 0.35) !important;
}
